@import 'mediaqueries.css';
@media only screen and (max-widht:1000px){

.navbar{
    background-color:bisque;
    height: 150px;
    box-shadow: 2px 2px 15px 0px rgba(red, green, blue, alpha);
    align-items: center;
}
.navbar .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    background-color: blueviolet;
    height: 100vh;
    left: -1em;
    transform: translateY(-120%);
    transition: all 1.4s;

}

.navbar .menu-toggle{
    transform: translateY(0%);
}   
.menu li{
    margin-top: 3ems;
}
.navar .menu-bar{
    display: block;
    font-size: 2em;
    color:rgb(7, 22, 17);
    cursor: pointer;
}
}